.profile-header{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}
.name-flex {
    display: flex;
    gap: 2rem;
}
.profile-name{
    margin-top: 6rem;
    margin-left: 2.6rem;
}
.profile-primaryname{
    color: white;
    font-weight: bold;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
}
.profile-lastname{
    color: #FF00A8;
    font-weight: bold;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
}
.info-1,.info-2{
    list-style: none;
    margin-top: 2rem;
    font-size: 1rem;
    display: flex;
}
.adress{
    margin-left: 3rem;
    margin-right: 3rem;
}
.phone{
    margin-left: -1.4rem;
}