.year{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
    font-weight: 200;  
    margin-top: 1rem;
}
.item-subtitle{
    font-size: 1.4rem;
}

.experience{
    margin-top: 2rem;
}
.experience-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.experience-2 .item-title{
  margin-top: 2rem;
}
